<section>
  <form (submit)="addTodo($event)" class="pb-5">
    <input
      class="w-full max-w-80"
      type="text"
      [(ngModel)]="newTodo"
      name="newTodo"
      placeholder="Enter a TODO and press enter"
    />
  </form>

  <div class="flex gap-3 pb-5">
    <div class="flex gap-1 cursor-pointer">
      <input type="radio" name="filter" id="all" value="all" />
      <label class="cursor-pointer" for="all">All</label>
    </div>
    <div class="flex gap-1 cursor-pointer">
      <input type="radio" name="filter" id="pending" value="pending" />
      <label class="cursor-pointer" for="pending">Pending</label>
    </div>
    <div class="flex gap-1 cursor-pointer">
      <input type="radio" name="filter" id="completed" value="completed" />
      <label class="cursor-pointer" for="completed">Completed</label>
    </div>
  </div>

  <ul>
    @for (todo of store.todos(); track todo.id; let index = $index) {
    <li>
      {{ todo.title }}
    </li>
    }
  </ul>
</section>
